<div class="page-header">
  <h1>Author #<%= @author.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Author</dt>
  <dd><%= @author.author_id %></dd>

  <dt>Author name</dt>
  <dd><%= @author.author_name %></dd>

  <dt>Author nationality</dt>
  <dd><%= @author.author_nationality %></dd>

  <dt>Author birth year</dt>
  <dd><%= @author.author_birth_year %></dd>

</dl>
