<div class="page-header">
  <h1>Edit Book #<%= @book.id %></h1>
</div>

<% if @book.errors.any? %>
  <% @book.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<form action="/update_book/<%= @book.id %>" class="form-horizontal">
  <!-- Label and input for book_id -->
  <div class="form-group">
    <label for="book_id" class="col-sm-2 control-label">
      Book
    </label>
    <div class="col-sm-10">
      <input type="text" id="book_id" name="book_id" placeholder="Book" class="form-control" value="<%= @book.book_id %>">
    </div>
  </div>

  <!-- Label and input for book_title -->
  <div class="form-group">
    <label for="book_title" class="col-sm-2 control-label">
      Book title
    </label>
    <div class="col-sm-10">
      <input type="text" id="book_title" name="book_title" placeholder="Book title" class="form-control" value="<%= @book.book_title %>">
    </div>
  </div>

  <!-- Label and input for author_id -->
  <div class="form-group">
    <label for="author_id" class="col-sm-2 control-label">
      Author
    </label>
    <div class="col-sm-10">
      <input type="text" id="author_id" name="author_id" placeholder="Author" class="form-control" value="<%= @book.author_id %>">
    </div>
  </div>

  <!-- Label and input for published_year -->
  <div class="form-group">
    <label for="published_year" class="col-sm-2 control-label">
      Published year
    </label>
    <div class="col-sm-10">
      <input type="text" id="published_year" name="published_year" placeholder="Published year" class="form-control" value="<%= @book.published_year %>">
    </div>
  </div>

  <!-- Label and input for book_genre -->
  <div class="form-group">
    <label for="book_genre" class="col-sm-2 control-label">
      Book genre
    </label>
    <div class="col-sm-10">
      <input type="text" id="book_genre" name="book_genre" placeholder="Book genre" class="form-control" value="<%= @book.book_genre %>">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Update Book" class="btn btn-primary">
    </div>
  </div>
</form>
