<div class="page-header">
  <h1>Book #<%= @book.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Book</dt>
  <dd><%= @book.book_id %></dd>

  <dt>Book title</dt>
  <dd><%= @book.book_title %></dd>

  <dt>Author</dt>
  <dd><%= @book.author_id %></dd>

  <dt>Published year</dt>
  <dd><%= @book.published_year %></dd>

  <dt>Book genre</dt>
  <dd><%= @book.book_genre %></dd>

</dl>
